---
const { title, content, cta } = Astro.props;
---

<div class="w-full flex flex-col group">
  <h3 class="text-lg text-center mb-4">{title}</h3>
  <div
    class="w-full flex flex-col lg:h-[0px] lg:group-hover:h-[100px] overflow-hidden transition-all duration-500"
  >
    <p
      class="opacity-100 text-center text-muted lg:opacity-0 lg:group-hover:opacity-100 transition-opacity duration-500"
    >
      {content}
    </p>
  </div>
</div>
