---
import translation from "@/locales/es/traductions.json";
import CardProcess from "./CardProcess.astro";
import SectionTitle from "../SectionTitle.astro";
---

<section class="py-24 px-6 bg-background text-foreground">
  <SectionTitle title={translation.process.title} />
  <div class="max-w-7xl mx-auto">
    <div class="relative grid gap-12 lg:grid-cols-4 md:grid-cols-2">
      {
        translation.process.data.map((item, index) => (
          <CardProcess
            title={item.title}
            content={item.content}
            step={index + 1}
          />
        ))
      }
    </div>
  </div>
</section>
