---

---

<!-- Image -->
<div class="w-full lg:w-1/2 flex justify-center items-end">
  <img
    src="/images/hero-template.webp"
    alt="Hero image"
    class="w-full max-w-3xl h-auto object-cover rounded-xl shadow-lg grayscale-50 hover:grayscale-0 transition duration-500"
    style="mask-image: linear-gradient(to bottom, black 90%, transparent 100%); -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);"
  />
</div>
