---
import Layout from "@/layouts/Layout.astro";
import { CheckCircle, ArrowLeft } from "@lucide/astro";

import t from "@/locales/en/traductions.json";
---

<Layout>
  <main class="min-h-screen flex items-center justify-center">
    <div class="max-w-md text-center space-y-6">
      <div class="flex justify-center">
        <CheckCircle size={64} class="text-accent" />
      </div>

      <h1 class="text-2xl font-semibold">{t.sentEmail.title}</h1>
      <p class="text-muted text-sm">
        {t.sentEmail.content}
      </p>

      <a href="/en" class="flex items-center gap-2 mx-auto w-fit">
        <ArrowLeft size={18} />
        {t.sentEmail.cta}
      </a>
    </div>
  </main>
</Layout>