---
import translation from "@/locales/es/traductions.json";
---

<section>
  <h2>{translation.about.title}</h2>
  <p>{translation.about.content}</p>
  <a href="/contact">{translation.about.cta}</a>
</section>
