---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/hero/Hero.astro";
import Services from "@/components/services/Services.astro";
import Projects from "@/components/projects/Projects.astro";
import Process from "@/components/process/Process.astro";
import Contact from "@/components/contact/Contact.astro";
import Faqs from "@/components/faqs/Faqs.astro";
---

<Layout>
  <main>
    <Hero />
    <Services />
    <Process />
    <Projects />
    <Contact />    
    <Faqs />
  </main>
</Layout>
