---
import NavItem from "./NavItem.astro";
import Lang from "./Lang.astro";
import MobileHeader from "./MobileHeader.astro";

const { t } = Astro.props;
---

<!-- Desktop Header -->
<header
  id="main-header"
  class="hidden md:flex md:px-4 xl:px-0 sticky w-full top-0 items-center justify-between py-6 z-10 bg-white/80 backdrop-blur-sm"
>
  <nav>
    <ul class="flex gap-6 text-sm">
      {
        t.header.nav.map((item: { name: string; link: string }) => (
          <NavItem name={item.name} link={item.link} />
        ))
      }
    </ul>
  </nav>
  <Lang />
</header>

<MobileHeader t={t} />

<script type="module">
  import { fromTop } from "/animations.js";

  const header = document.querySelector("#main-header");
  const navItems = document.querySelectorAll("#main-header nav a");

  if (header) fromTop(header);

  navItems.forEach((item) => {
    item.addEventListener("click", () => {
      const mobileMenu = document.querySelector("#mobile-header");
      mobileMenu?.classList.remove("translate-x-0");
      mobileMenu?.classList.add("-translate-x-full");
    });
  });
</script>
