---
import NavItem from "./NavItem.astro";
import Lang from "./Lang.astro";

const { t } = Astro.props;
---

<header
  id="main-header"
  class="sticky w-full top-0 flex items-center justify-between py-6 z-10 bg-white/80 backdrop-blur-sm"
>
  <nav>
    <ul class="flex gap-6 text-sm">
      {
        t.header.nav.map((item: { name: string; link: string }) => (
          <NavItem name={item.name} link={item.link} />
        ))
      }
    </ul>
  </nav>

  <Lang />
</header>

<!-- Motion One animation -->
<script type="module">
  import { fromTop } from "/animations.js";
  const header = document.querySelector("#main-header");
  fromTop(header);
</script>
