---
import Github from "./svg/Github.astro";
import Linkedin from "./svg/Linkedin.astro";
import Instagram from "./svg/Instagram.astro";
---

<aside
  id="sidebar"
  class="hidden xl:flex fixed top-0 left-0 h-svh flex-col items-center justify-between text-center p-4 w-24"
>
  <!-- Logo -->
  <div class="w-16">
    <img
      src="/images/header-logo.png"
      alt="marc martinez logo"
      class="w-full object-contain"
    />
  </div>

  <!-- Socials -->
  <div>
    <ul class="space-y-4 text-sm">
      <li>
        <Linkedin />
      </li>
      <li>
        <Github />
      </li>
      <li>
        <Instagram />
      </li>
    </ul>
  </div>
</aside>

<script type="module">
  import { animateSidebar } from "/animations.js";
  const sidebar = document.querySelector("#sidebar");
  animateSidebar(sidebar);
</script>
