---
const year = new Date().getFullYear();
const { t } = Astro.props;
---

<footer
  class="bg-background border-t border-muted/20 py-12 px-6 text-foreground"
>
  <div
    class="max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-between gap-4"
  >
    <p class="text-xs text-muted tracking-wide text-center sm:text-left">
      &copy; {year}
      {t.footer.title}. {t.footer.copyright}
    </p>

    <p class="text-sm text-muted font-medium text-center sm:text-right">
      Hecho con ❤️ en {
        new Date().toLocaleDateString("es-ES", {
          year: "numeric",
        })
      }
    </p>
  </div>
</footer>
